= stylesheet_link_tag 'gorodsad73'
= stylesheet_pack_tag 'gorodsad73'
= javascript_pack_tag 'src/gorodsad73/application'
%section.gorodsad73
  .box
    %h2{ 'data-jarallax-element' => '0 -200' }
      Газоны
    .container
      .img_bx.jarallax
        %img{ src: 'system/gorodsad73/gazon.jpeg', class: 'jarallax-img' }
      .content
        %p Рулонный газон это посевной газон, выращенный за 3-4 года на специальном поле, за это время он достигает степени окончательного формирования дёрна. Для производства газонного дёрна используют многолетние, медленно развивающиеся травы именно они дают плотное переплетение корневищ, позволяющее срезать тоненький коврик и свернуть его в рулон специальным трактором.
