.row
  .col-md-6
    = simple_form_for @session_form.model, url: '/benchkiller/web/sessions', method: :post, html: { class: 'form-horizontal' } do |f|
      = f.input :username, as: :string
      = f.input :password
      = f.button :submit, t('helpers.links.enter'), class: 'btn btn-success'
