= content_for :title do
  - "Purple Magic"
  
= content_for :application_name do
  - "Purple Magic"

= stylesheet_link_tag 'purple_magic/web/welcome'
%section
  .color
  .color
  .color
  .box
    .square{ style: "--i:0;" }
    .square{ style: "--i:1;" }
    .square{ style: "--i:2;" }
    .square{ style: "--i:3;" }
    .square{ style: "--i:4;" }
    .container
      .text
        %h2
          Purple Magic
        Здесь когда-нибудь будет наш сайт
