@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-projects {
  position: absolute;
  width: 100%;
  height: 50vh;
  left: 0;
  display: flex;
  flex-direction: row;

  &:first-child {
    top: 0;
  }

  &:nth-child(2) {
    top: 50%;
  }

  .project {
    width: 50%;
    height: 50vh;
    display: flex;

    .cover {
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      transition: 1s;
      display: flex;
      padding: 2rem;
      font-size: 3rem;
      font-weight: bold;
      color: white;
      cursor: pointer;

      &.it_way {
        background-color: $it_way_color;
	flex-direction: column-reverse;
	align-items: flex-start;
      }

      &.red_magic_tv {
        background-color: $red_magic_color;
	flex-direction: column-reverse;
	align-items: flex-end;
      }

      &.red_magic_live {
        background-color: $red_magic_live_color;
	flex-direction: column;
	align-items: flex-start;
      }

      &.who_knew {
        background-color: $who_knew_color;
	flex-direction: column;
	align-items: flex-end;
      }
    }

    &:hover {
      .cover {
        &.it_way, &.red_magic_live {
          clip-path: polygon(0 0, 100% 0, 43% 100%, 0% 100%);
        }
        &.red_magic_tv, &.who_knew {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 43% 100%);
        }
      }
    }
  }
}

$projects: it_way, who_knew, red_magic_live, red_magic_tv;

.project-page {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: 1.5s;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  &.it_way_page {
    background-color: $it_way_color;
    div {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .stats {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 75%;
      padding-left: 5rem;
      padding-right: 5rem;
      margin-bottom: 5rem;
      .stat {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          font-weight: bold;
          color: white;
          font-size: 4.5rem;
        }

        span {
          color: white;
        }
      }
    }

    .product {
      margin-bottom: 5rem;
      width: 75%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .right {
        margin-right: 3rem;
      }

      .left {
        margin-left: 3rem;
      }

      .description {
        display: flex;
        flex-direction: column;
        width: 50%;

        .right {
          display: flex;
          justify-content: flex-end;
        }

        h3 {
          color: white;
          text-align: justify;
        }

        a.play-button {
          margin-top: 2rem;
          display: flex;
          flex-direction: row;
          padding: 1rem 2rem;
          cursor: pointer;

          img {
            width: 3rem;
          }

          span {
            font-size: 2rem;
            color: white;
            margin-left: 1rem;
          }

          &:hover {
            box-shadow: 0px 0px 8px #fff;
          }
        }
      }

      video {
        width: 40rem;
        cursor: pointer;
        z-index: 2;
      }
    }

    .videos-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 480px;
    }
  }

  &.who_knew_page {
    background-color: $who_knew_color;
  }

  &.red_magic_tv_page {
    background-color: $red_magic_color;
  }

  &.red_magic_live_page {
    background-color: $red_magic_live_color;
  }

  &.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    @each $project in $projects {
      &.#{$project}_page {
        .#{$project} {
          display: flex;
        }
      }
    }
  }

  @each $project in $projects {
    .#{$project} {
      display: none;
      width: 100%;
      height: 100%;
      padding: 2rem;
      h1 {
        font-weight: bold;
        font-size: 10rem;
        text-transform: uppercase;
        color: white;
      }
      h2 {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .row-projects {
    flex-direction: column;
    .project {
      width: 100%;
      height: 25vh;
    }
  }
}
