* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 1000px;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 1s;
  padding: 0 100px;

  &.sticky {
    height: 80px;

    .logo {
      position: absolute;
      font-size: 2em;
      left: 100px;
      transform: translate(0, -50%);
    }

    .bottom-area {
      visibility: hidden;
    }

    .banner {
      opacity: 0.1;
    }

    div {
      display: flex;
      justify-content: center;

      nav {
        ul {
          transform: translateX(0);
          opacity: 1;
          margin-bottom: 0px;
        }
      }
    }
  }

  img.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15vw;
    color: #fff;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
    text-align: center;
  }

  .bottom-area {
    position: fixed;
    bottom: 2rem;
    width: inherit;
    display: flex;
    justify-content: center;
    left: 0;

    .arrow-down {
      font-size: 5rem;
      color: white;
      text-shadow: 0 0 3px #000, 0 0 5px #000;
      font-weight: bold;
      animation: animate 2s linear infinite;
    }

    @keyframes animate {
      0%, 100% {
        transform: translateY(-20px);
      }
      50% {
        transform: translateY(20px);
      }
    }
  }

  nav {
    position: relative;
    display: flex;
    z-index: 1;

    ul {
      position: relative;
      display: flex;
      transition: 0.25s;
      transform: translateX(100px);
      opacity: 0;

      li {
        list-style: none;
        
        a {
          color: #fff;
          display: inline-block;
          padding: 10px 15px;
          font-size: 1.2em;
          text-decoration: none;

          &:hover {
            color: #ff275f;
          }
        }
      }
    }
  }

  .toggle-button.hidden {
    display: none;
  }
}

section {
  padding: 100px;
  display: flex;

  &.first {
    margin-top: 50vh;
  }

  &.text-left {
    flex-direction: row;
    
    .text {
      padding-right: 6rem;
    }
  }

  &.text-right {
    flex-direction: row-reverse;

    .text {
      padding-left: 6rem;
    }
  }

  .text {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 3em;
      margin-bottom: 2rem;
      text-align: left;
    }

    p {
      font-size: 1.2em;
      text-align: justify;
    }
  }

  img {
    height: 400px;
  }
}

@media (max-width: 991px) {
  header, section {
    padding: 40px;

    .toggle-button {
      display: none;
    }
  }

  section {
    h2 {
      font-size: 2em;
    }
  }

  header {
    &.sticky {
      .logo {
        left: 40px;
      }

      .banner {
        opacity: 0;
      }
      
      .toggle-button {
        position: fixed;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff;
        font-size: 30px;
        z-index: 99;
        display: block;

        &.hidden {
          padding: 5px 12px;
        }

        &.show {
          padding: 5px 15px;
        }
      }
    }
  }

  nav {
    ul {
      display: none;
      opacity: 0;
      visibility: hidden;
      transition-delay: 0s !important;
      transition: 0s;
    }

    &.show {
      ul {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
        font-size: 2rem;
      }
    }

    &.hidden {
      ul {
        display: none;
      }
    }
  }
}
