* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$red_magic_color: #d43c3c;

@font-face {
  font-family: 'Ebrima';
  src: asset-url('fonts/red_magic/ebrima.ttf');
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .box {
    position: relative;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: 1s;

    .content {
      padding: 20px;
      margin: 20px;
      z-index: 10;
      opacity: 0;
      transition: 1s;
      text-align: center;

      h2 {
        color: #fff;
        font-size: 6vw;
        font-weight: initial;
        text-shadow: 0 0 3px #000, 0 0 5px #000;
      }
    }

    &.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      .content {
        opacity: 1;
        transition-delay: 0.5s;
      }
    }

    &:hover {
      z-index: 1000;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.link-panel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  z-index: 2002;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2002;

    .burger {
      z-index: 2002;
    }

    .logo {
      z-index: 2000;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        height: 7rem;
      }
      h3 {
        font-family: 'Ebrima';
        font-size: 2.5rem;
        margin-left: 6px;
        text-shadow: 0 0 3px #000, 0 0 5px #000;
        color: #fff;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      $link-size: 7rem;
      display: flex;
      width: $link_size;
      height: $link_size;
      z-index: 1001;
      margin: 1rem;
      padding: 1rem;
      border-radius: 20%;
      justify-content: center;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background: rgba(255, 255, 255, 0.5);
        transform: skewX(45deg) translateX($link-size);
        transition: 0.5s;
      }

      &:hover {
        animation: moveOnHover 1s linear;

        &::before {
          width: 4.4rem;
          height: 100%;
          transform: translateX(-$link-size);
        }
      }

      &.vk {
        left: 8rem;
        background-color: #4680C2;
      }

      &.instagram {
        background-color: #E4405F;
      }

      img {
        filter: invert(99%) sepia(96%) saturate(0%) hue-rotate(189deg) brightness(105%) contrast(100%);
        width: inherit;
      }
    }
  }
}

.menu {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $red_magic_color;
  z-index: 2001;
  transition: 1s;
  clip-path: circle(0.0% at 3.3% 6%);

  .services {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    ul {
      li {
        list-style-type: none;
        text-align: center;
        clip-path: polygon(0 0, 0 50%, 0 100%, 0% 100%, 0 51%, 0% 0%);
        transition: 3s;
        a {
          color: white;
          font-size: 3rem;
          font-weight: bold;
          text-transform: uppercase;

          &:hover {
            filter: brightness(80%);
          }
        }
      }
    }
  }

  &.active {
    clip-path: circle(140.9% at 0 0);

    .services {
      z-index: 2000;
      ul {
        li {
          clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 49%, 0% 0%);
        }
      }
    }
  }
}

@keyframes moveOnHover {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2rem);
  }
}

@media screen and (max-width: 700px) {
  section {
    .box {
      height: 100%;
      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        .content {
          opacity: 1;
          transition-delay: 0.5s;
        }
      }
    }
  }

  .link-panel {
    .links {
      padding-bottom: 2rem;
    }
  }
}
