.col-lg-4.col-md-12.col-sm-12.col-xs-12.mb-2
  .card
    %img.card-img-top{ src: photo_url }
    .card-body
      %h5.card-title
        = title
      %p.card-text
        = role
    .card-footer
      %a.btn.btn-primary{ href: url } Look at
