.main{ style: 'display: flex; width: 100vw; height: 100vh; padding: 50pt; align-items: center; justify-content: center' }
  %h1
    Тут будет сайт Павла Калашникова, на котором будет полная информация о всех проектах, которыми я занимался когда-либо или занимаюсь сейчас.
    Надо понимать, что я не делаю его, потому что нет востребованности в нём. Если у тебя она есть, напиши мне в твиттер о том, что тебе зачем-то нужен этот сайт. Если таких сообщений будет много, я когда-нибудь инвестирую в это дело время.
    = link_to 'Твиттер', 'twitter.com/kalashnikovisme'
