%ul.list-group.mb-4
  - @receivers.each do |receiver|
    - if receiver.present?
      %li.list-group-item
        = "@#{receiver.telegram_user.username}"
        - if receiver.companies.any?
          = " | #{receiver.companies.first.title}"
