- deliveries_title
= simple_form_for @delivery_form, url: benchkiller_web_delivery_path(@delivery_form.model.uuid), method: :patch do |f|
  = f.label :text, @delivery_form.model.class.human_attribute_name(:text)
  = f.input :text, as: :text, label: false, placeholder: 'Поддерживается markdown', input_html: { style: 'height: 50vh' }
  = f.button :submit, 'Изменить', class: 'btn btn-success'
