= javascript_include_tag 'clipboard'
%h1
  IT Way
%h2
  ИТ-сообщество

%div
  %iframe{ allowfullscreen: "", frameborder: "0", height: "480", src: "https://vk.com/video_ext.php?oid=-99102435&id=456239091&hash=ca54666719373785&hd=2", width: "853"}
  %iframe{ allowfullscreen: "", frameborder: "0", height: "480", src: "https://vk.com/video_ext.php?oid=-99102435&id=456239091&hash=ca54666719373785&hd=2", width: "853"}
