= stylesheet_link_tag 'red_magic/web/projects'

= content_for :title do
  Авторские проекты команды Red Magic

.row-projects
  .project
    .cover.red_magic_live
      Red Magic Live
  .project
    .cover.who_knew
      Хунью
.row-projects
  .project
    .cover.it_way
      IT Way
  .project
    .cover.red_magic_tv
      Red Magic TV
