name: Deploy
on:
  - push

jobs:
  build:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: kalashnikovisme/tramway_pro

      - name: Created needed stuff
        run: |
          mkdir node_modules
          mkdir tmp
          touch yarn-error.log

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      #   with:
      #     context: .
      #     push: true
      #     tags: ${{ steps.meta.outputs.tags }}
      #     labels: ${{ steps.meta.outputs.labels }}

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/production.key
          chmod 600 ~/.ssh/production.key
          cat >>~/.ssh/config <<END
          Host production
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/production.key
            StrictHostKeyChecking no
          END
        env:
          SSH_USER: ${{ secrets.PRODUCTION_SSH_USER }}
          SSH_KEY: ${{ secrets.PRODUCTION_SSH_KEY }}
          SSH_HOST: ${{ secrets.PRODUCTION_SSH_HOST }}

      - name: Clone repo to the remove server
        run: ssh production 'sudo rm -rf tramway_pro && git clone -b develop git@github.com:purple-magic/tramway_pro'

      - name: Linking directories
        run: |
          ssh production 'ln -s /srv/tramway_pro/shared/log tramway_pro/log'
          ssh production 'ln -s /srv/tramway_pro/shared/public/system tramway_pro/public/system'
          ssh production 'ln -s /srv/tramway_pro/shared/public/uploads tramway_pro/public/uploads'
          ssh production 'ln -s /srv/tramway_pro/shared/public/podcasts tramway_pro/public/podcasts'

      - name: Docker Hub login
        run: ssh production 'docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD  }}'
      - name: Docker Compose build
        run: ssh production 'docker image rm -f kalashnikovisme/tramway_pro:develop && cd tramway_pro && docker-compose build --parallel'

      - name: Docker Compose build
        run: ssh production 'cd tramway_pro && docker-compose build --parallel' 

      - name: Docker Compose up
        # run: ssh production 'cd tramway_pro && docker-compose down && POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} SECRET_KEY_BASE=${{ secrets.SECRET_KEY_BASE }} POSTGRES_DB=${{ secrets.POSTGRES_DB }} STREAM_SERVER_ID=${{ secrets.STREAM_SERVER_ID }} STREAM_SERVER_USER=${{ secrets.STREAM_SERVER_USER }} ERRBIT_PROJECT_KEY=${{ secrets.ERRBIT_PROJECT_KEY }} docker-compose up -d --force-recreate --remove-orphans'
        run: ssh production 'cd tramway_pro && docker-compose down && POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} SECRET_KEY_BASE=${{ secrets.SECRET_KEY_BASE }} POSTGRES_DB=${{ secrets.POSTGRES_DB }} STREAM_SERVER_ID=${{ secrets.STREAM_SERVER_ID }} STREAM_SERVER_USER=${{ secrets.STREAM_SERVER_USER }} ERRBIT_PROJECT_KEY=${{ secrets.ERRBIT_PROJECT_KEY }} docker-compose up --force-recreate --remove-orphans'
